[Desktop Entry]
Name=DocFlow
Comment=Um gerenciador de templates e anotações.
Exec=docflow
Icon=${SNAP}/meta/gui/docflow.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;